


.product-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 75% 25%;
    gap: 10px;



}

.mainContent {
    padding: 10px;
}

.product-video {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
}

.product-content {
    width: 100%;
    border-radius: 9px;
    background-color: rgba(99, 99, 99, 0.362);
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.product-desc {
    height: 75%;
}

.product-desc h2 {
    margin-bottom: 15%;
    font-size: 1.3rem;

}

.product-desc p {
    font-size: 1.1rem;
}



.product-sample {
    /* height: 20%; */
    display: flex;
}

.product-sample button {
    border-radius: 50%;
    margin: 0 10%;
    padding: 15px 15px;
}




.toast {
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 5px;
    border-radius: 5px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(0px);
  
    transition: opacity 0.3s ease-in-out, transform 0.5s ease;
  }
  
  .toastDefault{
    color: var(--background);
    border: 1.5px solid var(--accent);
    background-color: var(--text);
  }
  
  .toastError {
    color: var(--error-text);
    border: 1.5px solid var(--error-accent);
    background-color: var(--error);
    box-shadow: 0 0 10px var(--error-60);
  }
  
  