.product-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 75% 25%;
    gap: 10px;
   
   
    
}
.mainContent{
    padding: 10px;
}

.product-video {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
}

.product-content {
    width: 100%;
    border-radius: 9px;
    background-color: rgba(99, 99, 99, 0.362);
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}




.product-sample {
    /* height: 20%; */
    display: flex;
}

.product-sample button {
    border-radius: 50%;
    margin: 0 10%;
    padding: 15px 15px;
}